
<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>


<h1>MakersBnB</h1>
  
  <% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<form action="/date_range" method='post'>
    Filter dates available:
  <input type="date" name="date_avail">
  <p><button>Filter</button></p>
</form>

  <form action="/sign_out" method="post">
    <input type="submit" value="Sign out" />
  </form>

  <form action="/user_spaces" method="post">
    <input type="submit" value="View your spaces" />
  </form>


<form action='/addnewspace' method='get'>
  <input type='submit' value='Add a new space' />
</form>
<% @space.reverse.each do |space| %>
<div class="card" style="width: 18rem;" id="container">
  <div class="row">
    <h4 class="card-title"><%= space.name%></h4>
    <h4 class="card-text"><%= space.description%></h4>
    <h4 class="card-text"><%= space.price%></h4>
    <h4 class="card-text"><%= space.id%></h4>
    <h4 class="card-text"><%= space.date_avail%></h4>
    <form action='/spaces' method='post'>
    <h3>Request a booking! </h3>
    <h3><textarea name='message' rows='4' cols='50'>Enter your request details</textarea></h3>
    <h3><input type="submit" value="Request booking" /></h3>
    </form>
    <h5><%= @message %> </h5>

   <!-- <form action='/' method='post'>
    <input type='submit' value='accept!' />
    <input type='submit' value='reject!' />
    </form>
    <h3 style="color: green;"> <%= flash[:accept] %> </h3>
    <h3 style="color: red;"> <%= flash[:reject] %> </h3> -->

    

  </div>

</div>
<% end %>

</body>


