
<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>


<h1>MakersBnB<br>___________</h1>
  
  <% if @user %>
  <h3>Welcome, <%= @user.name %></h3>
<% end %>

<div class="log_off">
  <form action="/sign_out" method="post">
    <input type="submit" value="Sign out" />
  </form>
  </div>
  <br>
<h3>
<form action="/date_range" method='post'>
<label>
    Filter dates available:
    <input id="date_avail" type='date' name='date_avail'>
  </label>
<p><button>Filter</button>
</form>
</h3>
<h3>OR</h3>
<h3>

  <form action="/user_spaces" method="post">
    <input type="submit" value="View your spaces" />
  </form>


<form action='/addnewspace' method='get'>
  <input type='submit' value='Add a new space' />
</form>
</h3>
<% @space.reverse.each do |space| %>
<p></p>
<div class="spaceadded">
  <h3>Name - <%= space.name%></h3>
  <h3>Description - <%= space.description%></h3>
  <h3>Price - £<%= space.price%></h3>
  <h3>Contact Details - <%= space.host_email%></h3>
  <h3>Date Availability - <%= space.date_avail%></h3>
  <form action='/spaces' method='post'>
    <h3>Request a booking! </h3>
    <h3><textarea name='message' rows='4' cols='50' placeholder="Enter your request details"></textarea></h3>
    <h3><input type="submit" value="Request booking" /></h3>
  </form>
  <%# <h3><%= @message %> </h3> %>
  </div>
</div>
<% end %>

</body>

