<!DOCTYPE html>
<html>

<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<h1> YOUR SPACE </h1>

<h3><% @user_spaces.each do |space| %></h3>
<br>
<h3>Name: <%= space['name']%></h3>
<br>
<h3>Description: <%= space['description']%></h3>
<br>
<h3>Price: <%= space['price']%></h3>
<br>
<h3>Dates: <%= space['date_avail']%></h3>
<br>

 <h3><input type='submit' value='accept!' /></h3>
 <h3><input type='submit' value='reject!' /></h3> 

<% end %>

<!-- 1. View only your spaces 
2. View requests on your spaces 
3. Accept for reject requests -->
</html>
